/*
html {
    background-color: #eeeeee;
    background-image: linear-gradient(bottom, rgb(238,238,238) 18%, rgb(153,153,153) 59%, rgb(238,238,238) 80%);
    background-image: -o-linear-gradient(bottom, rgb(238,238,238) 18%, rgb(153,153,153) 59%, rgb(238,238,238) 80%);
    background-image: -moz-linear-gradient(bottom, rgb(238,238,238) 18%, rgb(153,153,153) 59%, rgb(238,238,238) 80%);
    background-image: -webkit-linear-gradient(bottom, rgb(238,238,238) 18%, rgb(153,153,153) 59%, rgb(238,238,238) 80%);
    background-image: -ms-linear-gradient(bottom, rgb(238,238,238) 18%, rgb(153,153,153) 59%, rgb(238,238,238) 80%);
}
*/

body {
    background-color: #eee;
}

html, body {
    height: 100%;
}

#wrapper {
    height: 100%;
}

#content {
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 2em;
/*    max-width: 800px;*/
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.5em;
    color: #333333;
    background-color: #ffffff;
    -webkit-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    box-shadow: 0 0 12px rgba(0, 0, 0, 0.4);
    float:none;
    height: 95%;
/*
    overflow-y:scroll;
*/
    position: relative;
}

#footer {
    position: absolute;
    bottom: 5px;
}

h1, h2, h3, h4, h5, h6 {
    line-height: 1.3em;
}

pre {
    display: inline-block;
}

samp
{
    /* hide <samp> from the browser so we can show cool features in Edge Code */
    display: none;
}

span.tab {
    padding: 0 20px; /* Or desired space*/
}

h4.work {
    width: 240px;
    display: block;
}

span.work-time, span.last-update {
    float: right;
}

.about-qrcode {
    float: right;
    border: 1px solid #c0c0c0;
    padding: 5px;
}

.about-detail {
    padding: 5px;
}